﻿@using System.Security.Claims
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "User Claims";
}

@functions
{

    List<Claim> GetClaims()
    {
        var claims = new List<Claim>();
        claims.AddRange(ViewBag.Claims);

        return claims;
    } 

}


<h2>User Claims</h2>

<table>
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>
    @foreach (var claim in GetClaims())
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>
